<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SupermarketEntities" connectionString="metadata=res://*/Supermarket.csdl|res://*/Supermarket.ssdl|res://*/Supermarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.192.130;initial catalog=Supermarket;persist security info=True;user id=rusty;password=123123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>